<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Specialization</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="static/css/owl.carousel.min.css">
      <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href="/"><img src="static/images/siddaganga1.png" style="height: 100px;"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">                     
                  <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/health">Specialiaztion</a>
                  </li>
                  
                  <li class="nav-item ">
                     <a class="nav-link" href="/news">Services</a>
                  </li>
                  <li class="nav-item ">
                     <a class="nav-link" href="/client">Doctor</a>
                  </li>
                  <li class="nav-item ">
                     <a class="nav-link" href="/contact">Contact</a>
                  </li>
                  
               </ul>
            </div>
         </nav>
      </div>
      <!-- header section end -->
      <!-- health section start -->
      <div class="health_section layout_padding">
         <div class="container">
            <h1 class="health_taital" style="text-align: center;">General medicine</h1>
            <div class="col-md-12">
               <div class="row">
                 <div class="col-md-4">
                  <image src=static/images/Cardiology.png  height="100" width="120"></image>
                  <p class="health_text"><h1>Cardiology</h1></strong>Cardiology is a branch of medicine that focuses on diagnosing and treating diseases of the heart, blood vessels, and circulatory system.</p> 
                 </div>
                 <div class="col-md-4">
                  <image src=static/images/Neurosurgery.png height="100" width="120"></image>
                  <p class="health_text"><h1>Neurosurgery</h1></strong>Neurosurgery is a medical specialty that involves diagnosing and treating diseases, disorders, and injuries to the nervous system, including the brain, spinal cord, and peripheral nerves.</p>
                 </div>
                 <div class="col-md-4">
                  <image src=static/images/Nephro.webp height="100" width="120"></image>
                  <p class="health_text"><h1>Nephro</h1></strong>Nephrology is a medical subspecialty that focuses on the kidneys and urinary tract, including their function and diseases.</p>
                 </div>
                 </div>
                 </div>
                 <div class="col-md-12">
                  <div class="row">
                 <div class="col-md-4">
                  <image src=static/images/urology3.png height="100" width="120"></image>
                  <p class="health_text"><h1>Urology</h1></strong>Urology is a surgical specialty that focuses on diagnosing and treating conditions affecting the urinary tract and reproductive system.</p>
                 </div>
                 <div class="col-md-4">
                  <image src=static/images/Gastro2.png height="100" width="120"></image>
                  <p class="health_text"><h1>Gastro</h1></strong>The gastrointestinal (GI) system, also known as the digestive tract or alimentary canal, is a passageway that leads from the mouth to the anus and includes the major organs of digestion. </p>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
               </div>
                 <div class="health_section layout_padding">
                  <div class="container">
                 <h1 class="health_taital"  style="text-align: center;">General surgery</h1> 
                 <div class="col-md-12">
                  <div class="row">
                 <div class="col-md-4">
                  <image src=static/images/Paediatrics.png height="100" width="120"></image>
                  <p class="health_text"><h1>Paediatrics</h1></strong>Pediatrics is a medical specialty that focuses on the health of infants, children, adolescents, and young adults, from birth to about age 21.</p>
                 </div>
                 <div class="col-md-4">
                  <image src=static/images/orthopedic3.png height="100" width="120"></image>
                  <p class="health_text"><h1>Orthopedic</h1></strong>Orthopedics, also known as orthopedic surgery, is a medical specialty that focuses on the diagnosis, prevention, and treatment of injuries and diseases that affect the musculoskeletal system.</p>
                 </div>
                 <div class="col-md-4">
                  <image src=static/images/Skin2.png height="100" width="120"></image>
                  <p class="health_text"><h1>Skin</h1></strong>Dermatosurgery means surgery of the damaged skin, which includes clinic based processing done using local anesthesia.</p>
                  </div>
                  </div>
                  </div>
                  <div class="col-md-12">
                     <div class="row">
                  <div class="col-md-4">
                     <image src=static/images/Ent2.png height="100" width="120"></image>
                  <p class="health_text"><h1>ENT</h1></strong>ENT stands for ear, nose, and throat, and ENT specialists, also known as otolaryngologists, are medical doctors and surgeons who treat conditions affecting these areas of the body.</p>
                  </div>
                  <div class="col-md-4">
                     <image src=static/images/Ophthalmology2.png height="100" width="120"></image>
                  <p class="health_text"><h1>Ophthalmology</h1></strong>Ophthalmology is the medical field that focuses on the health of the eye, including its anatomy, physiology, and diseases.</p>
                    </div>
                  </div>
               </div>
             </div>
             </div>
            

      <!-- health section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-sm-6">
                  <div class="footer_logo"><a href="/"><img src="static/images/siddaganga1.png" style="height: 100px;"></a></div>
                  <h1 class="adderss_text">Contact Us</h1>
                  <div class="map_icon"><img src="static/images/map-icon.png"><span class="paddlin_left_0">Page when looking at its</span></div>
                  <div class="map_icon"><img src="static/images/call-icon.png"><span class="paddlin_left_0">+91 9620513688</span></div>
                  <div class="map_icon"><img src="static/images/call-icon.png"><span class="paddlin_left_0">08373200299</span></div>
                  <div class="map_icon"><img src="static/images/mail-icon.png"><span class="paddlin_left_0">domain@gmail.com</span></div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <h1 class="adderss_text">Doctors</h1>
                  <div class="hiphop_text_1">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <h1 class="adderss_text">Useful Links</h1>
                  <div class="Useful_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ,</div>
               </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">2019 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.bundle.min.js"></script>
      <script src="static/js/jquery-3.0.0.min.js"></script>
      <script src="static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="static/js/custom.js"></script>
      <!-- javascript --> 
      <script src="static/js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>